<% athletes.each_slice(4) do |group| %>
  <div style="page-break-before:always;display:block;clear:both">
    <% group.each do |athlete| %>
      <%= render 'credentials/card', athlete: athlete, host: host %>
    <% end %>
  </div>
<% end %>
