<div class="card-wrapper">
  <div class="header">
  </div>
  <div class="card">
    <div>
      <div>
        <div class="name">
          <div>Nome</div>
          <div>
            <%= user.name %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="sides">
      <div>
        <div class="course">
          <div>Curso</div>
        </div>
        <div class="number">
          <div>Numero</div>
        </div>
        <div class="sport">
          <div>Desporto</div>
        </div>
      </div>
      <div>
        <div class="photo">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer">
      <!-- #wicked_pdf_image_tag 'footer.png' -->
    </div>
  </div>
</div>